extends  ../_skeleton

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Grid System'

block page 
	// Page Header
	include ../sections/_header-transparent

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})

	// Full-Width Grid System
	section.section.section-lg.bg-default.section-grid-demonstration
		.container-fluid.container-wide
			h2 Full-Width Grid System

			.row.row-condensed.row-offset-3
				.col-12
					.grid-demonstration-item
						h5 1/1
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us in the informal environments where we can have a dialogue instead of just a narrative like that.
				.col-6
					.grid-demonstration-item
						h5 1/2
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely
				.col-6
					.grid-demonstration-item
						h5 1/2
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely
				.col-4
					.grid-demonstration-item
						h5 1/3
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly
				.col-4
					.grid-demonstration-item
						h5 1/3
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly
				.col-4
					.grid-demonstration-item
						h5 1/3
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly
				.col-3
					.grid-demonstration-item
						h5 1/4
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great
				.col-3
					.grid-demonstration-item
						h5 1/4
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great
				.col-3
					.grid-demonstration-item
						h5 1/4
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great
				.col-3
					.grid-demonstration-item
						h5 1/4
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great
				.col-2
					.grid-demonstration-item
						h5 1/6
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find
				.col-2
					.grid-demonstration-item
						h5 1/6
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find
				.col-2
					.grid-demonstration-item
						h5 1/6
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find
				.col-2
					.grid-demonstration-item
						h5 1/6
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find
				.col-2
					.grid-demonstration-item
						h5 1/6
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find
				.col-2
					.grid-demonstration-item
						h5 1/6
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find
				.col-8
					.grid-demonstration-item
						h5 2/3
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site.
				.col-4
					.grid-demonstration-item
						h5 1/3
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly

	// Boxed Grid System
	section.section.section-lg.bg-default.section-grid-demonstration
		.container
			h2 Boxed Grid System
			.row.row-condensed.row-offset-3
				.col-12
					.grid-demonstration-item
						h5 1/1
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us in the informal environments where we can have a dialogue instead of just a narrative like that.
				.col-6
					.grid-demonstration-item
						h5 1/2
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you
				.col-6
					.grid-demonstration-item
						h5 1/2
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you
				.col-4
					.grid-demonstration-item
						h5 1/3
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you
				.col-4
					.grid-demonstration-item
						h5 1/3
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you
				.col-4
					.grid-demonstration-item
						h5 1/3
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you
				.col-3
					.grid-demonstration-item
						h5 1/4
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login
				.col-3
					.grid-demonstration-item
						h5 1/4
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login
				.col-3
					.grid-demonstration-item
						h5 1/4
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login
				.col-3
					.grid-demonstration-item
						h5 1/4
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login
				.col-2
					.grid-demonstration-item
						h5 1/6
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is
				.col-2
					.grid-demonstration-item
						h5 1/6
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is
				.col-2
					.grid-demonstration-item
						h5 1/6
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is
				.col-2
					.grid-demonstration-item
						h5 1/6
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is
				.col-2
					.grid-demonstration-item
						h5 1/6
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is
				.col-2
					.grid-demonstration-item
						h5 1/6
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is
				.col-8
					.grid-demonstration-item
						h5 2/3
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers. Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages
				.col-4
					.grid-demonstration-item
						h5 1/3
						p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you

	// Page Footer
	include ../sections/_footer-1
