extends  ../_skeleton

//- Includes
include ../components/_ui-progress-bar-linear
include ../components/_ui-counter

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Progress Bars'

block page  
	// Page Header
	include ../sections/_header-transparent

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})

	// Skill Bars
	section.section.section-lg.bg-default
		.container
			.row
				.col-md-10.col-lg-6.col-xxl-4
					h2 Skill Bars
					.progress-linear-wrap
						+progress-bar-linear({
							title: "Financial Consulting",
							valueTo: "75"
						})

						+progress-bar-linear({
							title: "Online Reporting",
							valueTo: "50"
						})

						+progress-bar-linear({
							title: "Online Banking",
							valueTo: "80"
						})

						+progress-bar-linear({
							title: "24/7 Support",
							valueTo: "75"
						})

	// Progress Bars
	section.section.section-lg.bg-default
		.container
			h2 Progress Bars
			.row.row-center.justify-content-center.justify-content-md-start.row-30.text-center.row-offset-4
				.col-6.col-sm-4.col-md-3.col-lg-2
					// Circle Progress Bar
					.progress-bar-circle(data-value='0.25' data-gradient=colors.primary data-empty-fill='rgb(245,245,245)' data-size='96' data-thickness='2')
						span
					p.progress-bar-circle-title Economy
				.col-6.col-sm-4.col-md-3.col-lg-2
					// Circle Progress Bar
					.progress-bar-circle(data-value='0.5' data-gradient=colors.primary data-empty-fill='rgb(245,245,245)' data-size='96' data-thickness='2')
						span
					p.progress-bar-circle-title Cashback
				.col-6.col-sm-4.col-md-3.col-lg-2
					// Circle Progress Bar
					.progress-bar-circle(data-value='0.75' data-gradient=colors.primary data-empty-fill='rgb(245,245,245)' data-size='96' data-thickness='2')
						span
					p.progress-bar-circle-title Stability

	// Counters
	section.section.section-lg.bg-default
		.container
			h2 Counters
			.row.row-30.justify-content-center.row-flex.row-offset-1
				.col-md-6.col-lg-4
					+counter-boxed({
						imageName: "progress-1-92x84",
						subtitle: "More than",
						value: "23754",
						title: "Issued Cards",
						exeption: "Our bank is an acknowledged leader in credit card distribution. We issue more than 5000 cards every year."
					})

				.col-md-6.col-lg-4
					+counter-boxed({
						imageName: "progress-2-92x84",
						subtitle: "Up to",
						value: "30",
						valueSub: "%",
						title: "Cashback",
						exeption: "We offer amazing amount of cashback for payments made with one of our credit cards - Blue, Green, or Orange."
					})

				.col-md-6.col-lg-4
					+counter-boxed({
						imageName: "progress-3-92x84",
						subtitle: "Up to",
						value: "25",
						valueSub: "%",
						title: "for Deposit",
						exeption: "Dot Bank offers various deposit offers in all international currencies with interest rate up to 25% for all regular clients."
					})

	// Page Footer
	include ../sections/_footer-1
