extends  ../_skeleton

//- Includes
include ../components/_ui-inline-subscribe-form

block variables
	- var activeCategory = 'services'
	- var pageName = 'Single Service'

block page 
	// Page Header
	include ../sections/_header-transparent

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})

	// Image section
	section.section.section-lg.bg-white
		.container
			+jpg("single-service-1170x456", "img-bordered")

	// Single service
	section.section.section-lg.bg-white
		.container
			.row.row-40.justify-content-center
				.col-md-6.col-lg-4
					h3 Overview
					.chart-custom
						+svg-gradient()
						.d3-chart#spline-chart(style='width:100%; margin: 0 auto')
					p Lorem ipsum dolor sit amet, qui tollit laoreet ocurreret id, ne vis melius offendit appetere, ius timeam ipsum dolor sit amet, qui tollit laoreet ocurreret.
				.col-md-6.col-lg-4.inset-top-1
					p Lorem ipsum dolor sit amet, qui tollit laoreet ocurreret id, ne vis melius offendit appetere, ius timeam percipit argumentum id. His mutat nostrum ad, ei qui nostro aeterno recteque, aperiam quaerendum id has. Quod tantas volumus eu eum, mei appetere honestatis an. Dico apeirian qui ad, pri eu munere menandri maluisset. Ei has elit essent mentitum, sed ex vocent maluisset. Lorem ipsum dolor sit amet, qui tollit laoreet ocurreret id, ne vis melius offendit appetere,
					a.button.button-lg.button-primary(href='#') Book This Service
				.col-md-12.col-lg-4
					h3 Testimonials
					.owl-carousel.owl-carousel-2(data-items='1', data-dots='true' data-nav='false' data-stage-padding='10', data-loop='false', data-margin='30', data-mouse-drag="false")
						+blockquote-custom({
							quote: "Finding Dot Bank, a reliable bank with international reputation and specialized lending programs allowed me to finance my business and open a new office in California. I will definitely recomend you to my friends and partners. Thank you!",
							authorImg: "user-1-80x80",
							authorName: "Ann Smith",
							authorPosition: "International Company Owner"
						})
							ul.list-rating
								li: .icon-rating.mdi.mdi-star
								li: .icon-rating.mdi.mdi-star
								li: .icon-rating.mdi.mdi-star
								li: .icon-rating.mdi.mdi-star
								li: .icon-rating.mdi.mdi-star-half

						+blockquote-custom({
							quote: "When I needed financial assistance to expand my shop, I went directly to Dot Bank. Securing financing helped us renovate and expand my jewelry shop and attract more clients. They also help me manage my bank account without any stress.",
							authorImg: "user-2-80x80",
							authorName: "Mildred Bates",
							authorPosition: "Jewelry Shop Owner"
						})
							ul.list-rating
								li: .icon-rating.mdi.mdi-star
								li: .icon-rating.mdi.mdi-star
								li: .icon-rating.mdi.mdi-star
								li: .icon-rating.mdi.mdi-star
								li: .icon-rating.mdi.mdi-star-half

						+blockquote-custom({
							quote: "I chose Dot Bank because I know they share my values of putting community first. Not only do they make banking easy, I see them out volunteering and investing in our community, which is very important for me and everything I do.",
							authorImg: "user-3-80x80",
							authorName: "Marie Hanson",
							authorPosition: "Charity Organization Manager"
						})
							ul.list-rating
								li: .icon-rating.mdi.mdi-star
								li: .icon-rating.mdi.mdi-star
								li: .icon-rating.mdi.mdi-star
								li: .icon-rating.mdi.mdi-star
								li: .icon-rating.mdi.mdi-star-half




	// The Best Banking Choise
	section.section.section-md.bg-gray-100
		.container
			.block-lg.text-center
				h2.custom-title: span The Best Banking Choice
				p Lorem ipsum dolor sit amet, scripta legimus quaerendum ex vis, audire nonumes his an. Decore tamquam insolens usu, an duo omnium debitis adipiscing, ne postulant.

			.row.row-30.row-xl-60
				.col-sm-6.col-md-4
					+blurb-image({
						icon: "mercury-icon-globe-marker",
						title: "Location",
						exeption: "Lorem ipsum dolor sit amet, scripta legimus quaerendum ex."
					})
				.col-sm-6.col-md-4
					+blurb-image({
						icon: "mercury-icon-touch",
						title: "Using Diferent Devices",
						exeption: "Lorem ipsum dolor sit amet, scripta legimus quaerendum ex."
					})
				.col-sm-6.col-md-4
					+blurb-image({
						icon: "mercury-icon-social",
						title: "Family & Friends Programs",
						exeption: "Lorem ipsum dolor sit amet, scripta legimus quaerendum ex."
					})
				.col-sm-6.col-md-4
					+blurb-image({
						icon: "mercury-icon-phone-24",
						title: "24/7 Support",
						exeption: "Lorem ipsum dolor sit amet, scripta legimus quaerendum ex."
					})
				.col-sm-6.col-md-4
					+blurb-image({
						icon: "mercury-icon-case",
						title: "Personal Profile",
						exeption: "Lorem ipsum dolor sit amet, scripta legimus quaerendum ex."
					})
				.col-sm-6.col-md-4
					+blurb-image({
						icon: "mercury-icon-gears",
						title: "Settings",
						exeption: "Lorem ipsum dolor sit amet, scripta legimus quaerendum ex."
					})

	// Call to action
	section.section.section-xs.bg-primary-gradient
		.container
			.box-cta
				.box-cta-inner
					h3 Choose Your #[span.font-weight-bold Bank Card] Now!
				.box-cta-inner
					a.button.button-lg.button-primary-dark(href='#') Order Card

	// Banners
	section.section.section-sm
		.container
			.row.row-30
				.col-sm-6
					a.box-link.heading-3(href="#", style="background-image: url(images/personal-banking-1-570x280.jpg);"): span.box-link-inner Private Banking
				.col-sm-6
					a.box-link.heading-3(href="#", style="background-image: url(images/personal-banking-2-570x280.jpg);"): span.box-link-inner Business Banking


	// Page Footer
	include ../sections/_footer-1
