extends  ../_skeleton

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Typography'

block page 
	// Page Header
	include ../sections/_header-transparent

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})

	// Base typography 
	section.section.section-lg.bg-default
		.container
			.row
				.col-xl-8
					ul.list-xl
						li
							h1 H1 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

						li
							h2 H2 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

						li
							h3 H3 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

						li
							h4 H4 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

						li
							h5 H5 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
						li
							h6 H6 Heading
							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

	// Blockquote
	section.section.section-lg.bg-default
		.container
			.row.row-50
				.col-lg-10.col-xl-8
					h2 Blockquote
					// Quote Default
					+blockquote({
						quote: "Lorem ipsum dolor sit amet, scripta legimus qua erendum ex vis, audire no umes his an. Decore tam quam insole ns usu, an omnium debitis. ipsum dolo. Lorem ipsum dolor sit amet, scripta legimus qua Lorem ipsum dolor sit amet, scripta.",
						authorName: "Samuel Chapman",
						authorPosition: "CEO & Founder of Dot Bank"
					})

	// HTML Text Elements
	section.section.section-lg.bg-default
		.container
			.row
				.col-lg-10.col-xl-8
					h2 HTML Text Elements
					p.text-block
						a(href='#') Link Text
						a(href='#').link-hover Hover Link Text
						span.font-weight-bold Bold text
						span.text-italic Italic text
						mark This is a highlighted text
						span.tooltip-custom(data-toggle='tooltip' data-placement="top" title="Tooltips text") Tooltips
						span Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for
						span With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
						span.text-strike This is a strickethrough text
						span.text-underline This is an underlined text.

	// Unordered List
	section.section.section-lg.bg-default
		.container
			.row.row-50
				.col-xl-8
					h2 Unordered List
					p We specialize in a variety of services. Our aim is to deliver the top level of customer service based on your requests.
					ul.list-marked
						li Consulting
						li Customer Service
						li Innovation
						li Management
						li Ethics
					p We hope that with our services you will receive the most personalized help in purchasing any kind of products you are looking for.

	// Ordered List
	section.section.section-lg.bg-default
		.container
			.row.row-50
				.col-xl-8
					h2 Ordered List
					p We specialize in a variety of services. Our aim is to deliver the top level of customer service based on your requests.
					ol.list-ordered
						li Consulting
						li Customer Service
						li Innovation
						li Management
						li Ethics
					p We hope that with our services you will receive the most personalized help in purchasing any kind of products you are looking for.

	// Icon List
	section.section.section-lg.bg-default
		.container
			h2 Icon List
			.row.row-30.row-offset-1
				.col-md-6.col-lg-3
					+list-icon({
						icon: "mercury-icon-globe-marker",
						title: "Various Locations",
						content: "We have offices in many countries including the USA, the UK, Norway, France, spain, Japan, and China."
					})
				.col-md-6.col-lg-3
					+list-icon({
						icon: "mercury-icon-touch",
						title: "Mobile Banking Apps",
						content: "Get instant access to your account on any device using our banking apps and browser solutions."
					})
				.col-md-6.col-lg-3
					+list-icon({
						icon: "mercury-icon-social",
						title: "Family Programs",
						content: "Our Bank has special programs with financial benefits for all your family members."
					})
				.col-md-6.col-lg-3
					+list-icon({
						icon: "mercury-icon-phone-24",
						title: "24/7 Support",
						content: "Our Support team is always ready to help you solve any banking and financial issues you may have."
					})

	// Image Centered
	section.section.section-lg.bg-default
		.container
			.row
				.col-lg-10.col-xl-8
					h2 Centered Image
					.row.row-offset-2
						.col-lg-12
							figure.figure-light
								+jpg('typography-1-770x512', 'img-centered')
								figcaption
									p Reliable banking services

							p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

	// Image Left
	section.section.section-lg.bg-default
		.container: .row: .col-lg-10.col-xl-8
			h2 Image Left
			.row.row-30.row-offset-2
				.col-md-6: +jpg('typography-2-340x224')
				.col-md-6: p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

	// Image Right
	section.section.section-lg.bg-default
		.container: .row: .col-lg-10.col-xl-8
			h2 Image Right
			.row.row-30.flex-md-row-reverse.row-offset-2
				.col-md-6: +jpg('typography-2-340x224')
				.col-md-6: p Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.

	// Page Footer
	include ../sections/_footer-1
