<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace = "spring.mvc.teamProject.persistence.LoanDAO">
	<!-- FinancialProductsController -->
	<select id="getLoanCount" resultType="int"> <!-- 대출상품 조회 -->
		SELECT COUNT(*)
		FROM Loans_product
	</select>
	
	<select id="getLoanList" resultType="spring.mvc.teamProject.vo.LoanVO"> <!-- 대출상품 조회 -->
		SELECT d_name, d_summary, d_max_price
		 FROM Loans_product
	</select>
	
	<select id="getLoanDetail" resultType="spring.mvc.teamProject.vo.LoanVO"> <!-- 대출상품 상세조회 -->
		SELECT d_name, d_summary, d_min_date, d_max_date, d_interest_rate, d_min_price, d_max_price, d_explanation1, d_explanation2, d_explanation3
		 FROM Loans_product
		 WHERE d_name=#{d_name}
	</select>
	
	<!-- ============================================================================ -->
	<!-- LoanCenterController -->
	<select id="getLoanAccountCount" resultType="int"> <!-- 대출계좌 조회 -->
		SELECT COUNT(*)
         FROM account_info i, loans l
		 WHERE i.account = l.account
		 AND i.id=#{id}
		 AND l.d_state=1 <!-- d_state=1 : 정상대출계좌 -->
	</select>
	
	<select id="getLoanAccountList" resultType="spring.mvc.teamProject.vo.LoanVO"> <!-- 대출계좌 조회 -->
		SELECT l.d_name, l.d_repay, l.account, l.d_amount, l.d_end_date, l.d_balance
		 FROM account_info i, loans l
		 WHERE i.account = l.account
		 AND i.id=#{id}
		 AND l.d_state=1 <!-- d_state=1 : 정상대출계좌 -->
	</select>
	
	<select id="getLoanAccountDetail" resultType="spring.mvc.teamProject.vo.LoanVO"> <!-- 대출계좌 상세조회 -->
		SELECT l.d_name, l.d_repay, l.d_amount, l.d_balance, l.account, l.d_rate, l.d_start_date, l.d_end_date, d_next_rate
		 FROM account_info i, loans l
		 WHERE i.account = l.account
		 AND i.id=#{id}
		 AND l.d_name=#{d_name}
		 AND l.d_state=1 <!-- d_state=1 : 정상대출계좌 -->
	</select>
	
	<select id="getLoanCloseCount" resultType="int"> <!-- 대출해지현황 조회 -->
		SELECT COUNT(*)
         FROM account_info i, loans l
		 WHERE i.account = l.account
		 AND i.id=#{id}
		 AND l.d_state=2 <!-- d_state=2 : 해지대출계좌 -->
	</select>
	
	<select id="getLoanCloseList" resultType="spring.mvc.teamProject.vo.LoanVO"> <!-- 대출해지현황 조회 -->
		SELECT l.d_name, l.account, l.d_start_date, l.d_end_date
		 FROM account_info i, loans l
		 WHERE i.account = l.account
		 AND i.id=#{id}
		 AND l.d_state=2 <!-- d_state=2 : 해지대출계좌 -->
	</select>
	
	<select id="getLoanCloseDetail" resultType="spring.mvc.teamProject.vo.LoanVO"> <!-- 대출해지현황 상세조회 -->
		SELECT l.d_name, l.d_repay, l.d_amount, l.account, l.d_rate, l.d_start_date, l.d_end_date
		 FROM account_info i, loans l
		 WHERE i.account = l.account
		 AND i.id=#{id}
		 AND l.d_name=#{d_name}
		 AND l.d_state=2 <!-- d_state=2 : 해지대출계좌 -->
	</select>
</mapper>