/*
*
* Dividers
*/

hr {
	margin-top: 0;
	margin-bottom: 0;
	border-top: $hr-border-width solid $hr-border-color;
}

.divider {
	display: block;
	font-size: 0;
	line-height: 0;

	&:before {
		content: "";
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
	}

	&-1 {
		&:before {
			width: 30px;
			border-top: 2px solid $gray-400;
		}
	}

	&-2 {
		&:before {
			width: 48px;
			border-top: 2px solid $primary;
		}
	}
}