//- progress - object{progress}
mixin progress-bar-linear(progress)
	// Linear progress bar
	article.progress-linear
		.progress-header
			p= progress.title
			span.progress-value= progress.valueTo
		.progress-bar-linear-wrap
			.progress-bar-linear
