<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Typography(텍스트효과)</h2>

    <h2>h2 heading <small>h2의 작은제목</small></h2>
    <h3>h3 heading <small>h3의 작은제목</small></h3>

    <h1>Highlight Text</h1>    
    <p>Use the mark element to <mark>형광펜효과</mark> text.</p>

    <h1>Abbreviations</h1>
    <p>The abbr element is used to mark up an abbreviation or acronym:</p>
    <p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>

    <h1>Description Lists- dl/dt/dd효과</h1>    
    <p>The dl element indicates a description list:</p>
    <dl>
        <dt>Coffee</dt>
        <dd>- black hot drink</dd>
        <dt>타이틀</dt>
        <dd>- 설명구문이 삽입됨.</dd>
    </dl>


    <h1>Keyboard Inputs</h1>
    <p>문자열을 키보드와 같이 표현함. 단축키 표현에 유용함</p>
    <p>Use <kbd>ctrl + p</kbd> to open the Print dialog box.</p>


    <h2>pre태그 적용하기</h2>
    <p>
        pre태그는 text를 편집한 그대로 브라우저에 출력된다.
    </p>
    <pre>
    [세종=뉴시스] 임재희 정성
    원 기자 = 18일 0시
       기준 신종 코로나바이
       러스 감염증           (코로나19) 신규 확
       진 환자가 8월29일 이후
        3개월 가
       까운 81일 만에 300명대로 집
       계됐다.

    </pre>
    <h2>Typography 정렬하기</h2>
    <p class="text-left">Left-aligned text.</p>
    <p class="text-right">Right-aligned text.</p>      
    <p class="text-center">Center-aligned text.</p>
    <p class="text-justify">Justified text. Justified text. Justified text. Justified text. Justified text. Justified text.</p>      
    <p class="text-nowrap">No wrap text. No wrap text. No wrap text. No wrap text.</p>
    <p><strong>Tip:</strong> Try to resize the browser window to see the behaviour of justify and nowrap.</p>
</div>
</body>
</html>